<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aenggukland.letspt.log.ApiLogMapper">

    <insert id="save" parameterType="com.aenggukland.letspt.log.ApiLog">
        INSERT INTO api_log (username, method, url, status, duration_ms)
        VALUES (#{username}, #{method}, #{url}, #{status}, #{durationMs})
    </insert>

</mapper>
