<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aenggukland.letspt.chat.ChatMapper">
    <insert id="makeChatRoom" parameterType="com.aenggukland.letspt.chat.ChatRoom">
        INSERT INTO chat_room (trainer_id, member_id)
        VALUES (#{trainerId}, #{memberId})
    </insert>

    <select id="getMemberChatRoomList" resultType="com.aenggukland.letspt.chat.ChatRoomListResponse" parameterType="Long">
        select DISTINCT ON (cr.chat_room_id) m.name as partnerName, cm.is_read, cm.message_content, cm.sent_at
        from chat_room cr
            INNER JOIN chat_message cm
        on cr.chat_room_id = cm.chat_room_id
            INNER JOIN member m
            on cr.trainer_id = m.member_id
        where cr.member_id = #{memberId}
        order by cr.chat_room_id, sent_at desc
    </select>

    <select id="getTrainerChatRoomList" resultType="com.aenggukland.letspt.chat.ChatRoomListResponse" parameterType="Long">
        select DISTINCT ON (cr.chat_room_id) m.name as partnerName, cm.is_read, cm.message_content, cm.sent_at
        from chat_room cr
            INNER JOIN chat_message cm
        on cr.chat_room_id = cm.chat_room_id
            INNER JOIN member m
            on cr.member_id = m.member_id
        where cr.trainer_id = #{memberId}
        order by cr.chat_room_id, sent_at desc;
    </select>
</mapper>