<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aenggukland.letspt.comment.CommentMapper">
    <select id="getCommentList" parameterType="long" resultType="com.aenggukland.letspt.comment.Comment">
        SELECT bc.comment_id, bc.author_id, bc.content as comment, bc.created_at, m.name as authorName
        FROM board_comment bc
        INNER JOIN member m
        ON bc.author_id = m.member_id
        WHERE board_id = #{boardId}
          AND is_deleted = FALSE
        ORDER BY created_at ASC
    </select>

    <insert id="createComment" parameterType="com.aenggukland.letspt.comment.Comment">
        INSERT INTO board_comment(board_id, author_id, content)
        VALUES (#{boardId}, #{authorId}, #{comment})
    </insert>

    <update id="updateComment" parameterType="com.aenggukland.letspt.comment.Comment">
        UPDATE board_comment
        SET content = #{comment},
            updated_at = CURRENT_TIMESTAMP
        WHERE comment_id = #{commentId}
    </update>

    <update id="deleteComment" parameterType="com.aenggukland.letspt.comment.Comment">
        UPDATE board_comment
        SET is_deleted = TRUE,
            deleted_at = CURRENT_TIMESTAMP
        WHERE comment_id = #{commentId}
    </update>
</mapper>