<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aenggukland.letspt.schedule.ScheduleMapper">
    <insert id="reservation">
        INSERT INTO schedule (trainer_id, member_id, start_datetime, end_datetime, class_content, state)
        VALUES (#{trainerId}, #{memberId}, #{startDatetime}, #{endDatetime}, #{classContent}, 'RESERVATION')
    </insert>

    <!-- 회원의 예약 취소,확정 -->
    <update id="replyReservation" parameterType="com.aenggukland.letspt.schedule.Schedule">
        UPDATE schedule
        SET state = #{state},
            memo  = #{memo}
        WHERE member_id = #{memberId}
            AND schedule_id = #{scheduleId}
    </update>

    <select id="findByScheduleId" parameterType="Long">
        SELECT member_id
        FROM schedule
        WHERE schedule_id = #{scheduleId}
    </select>
</mapper>